/* モーダルウインドウ */
.modal {
    display: none; /* 初期は非表示 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); /* 背景を暗く */
}

.modal-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 24px;
    cursor: pointer;
}
.modal img {
    max-width: 100%;
    margin-bottom: 10px;
}

.modal-city-name {
    color: #322812;
    font-weight: bold;
    font-size: 1.4rem;
}